{# {% extends "basedemo1.html.twig" %} #}
{% block title %}{% endblock %}

{% extends "base.html.twig" %}
{% block body %}
{# <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>#}
<style>
    .cover{
        margin-top: 100px;
        margin-left: 577px;
        width: 330px;
        height: 209px;
    }
    h3{
        color: black;
        margin-left: 20px;
    }
    form{
        margin-left: 17px;
    }
    input{
        width: 260px;
    }
    .btn{
        width: 50px;
        margin-left: 100px;
        margin-top: 10px;
    }
</style> 
<body>
    <div class="cover">
       <div class="container-fluid">
            <h3>Enter your old password</h3>
            <form action="{{path ('passwordold')}}" method="POST">
                <input type="password" name="oldpass-txt"></input>
                <button class="btn btn-primary">OK</button>
            </form>
       </div>
    </div>
</body>
{% endblock %}
