{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .image{
        width: 327px;
        margin-left: 200px;
    }
</style>

<div class="example-wrapper">
    <div>
        <div>
            Online Shoe-Shop web is a website that I created to introduction to everyone about my products.<br>
            The branch located at P8, Dinh Tien Hoang Road, Vinh Long City.<br>
            My branch is established in 2021.<br>
            Contact us: 0931927908<br>
            My website sells shoes and all of them made in Vietname. With the desire to create good shoe products for everyone. Especially is students, teenager and someone who prefer them. 
            Our products offer a guarantee of quality and affordable prices for everyone.
            Come to us to be able to choose for you a suitable pair of shoes to cherish your feet.
        </div>

        <div>
            <img class="image" src="./Image/Totalpfshoe.jpg">
        </div>
    </div>
</div>
{% endblock %}
