<html>

{% block title %}{% endblock %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<style>
    body{
        background: url('./Image/Background-shoe-shop.jpg');
    }
    form{
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 2px 2px 17px 10px rgba(255, 255, 255, 0.8);
        width: 400px;
        margin-left: 530px;
        color: white;
        margin-top: 20px;
    }
    .cover-form{
        width: 300px;
        margin-left: 50px;
        margin-top: 200px;
    }
    h1{
        text-align: center;
    }
    .btn{
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">The username or password is incorrect</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="cover">
        <div class="cover-form">
            <h1 class="h3 mb-3 font-weight-normal">Login Form</h1>
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </div>
    </div>
</form>
{% endblock %}
</html>
