{# {% extends 'base.html.twig' %} #}
{% block body %}
<head>

    <link rel="stylesheet" type="text/css" href="login.css">

</head>

<body>

    <section id="hero">
        <div class="imgBx">
            <img src="./image/backgroundlogin.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Login</h2>
                <form method="post">
                    <div class="inputBx">
                        <label for="inputUsername">Username</label>
                        <input type="text" id="inputUsername" name="username" value="{{ last_username }}" autocomplete="username" required autofocus
                         required oninvalid="setCustomValidity('Please enter the username here!')" oninput="setCustomValidity('')">
                    </div>
                    <div class="inputBx">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="" name="password" id="inputPassword" autocomplete="current-password" required
                        required oninvalid="setCustomValidity('Please enter the password here!')" oninput="setCustomValidity('')">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="remember">
                        {% if error %}
                        <div class="alert alert-danger" style="margin-bottom: 15px; color:black">The username or password is incorrect again! </div>
                        {% endif %}
                        <labe><input type="checkbox" name="_remember_me">Remember me</labe>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Sign in" class="btn btn" name="">
                    </div>
                    <div class="inputBx">
                        <p>Don't have an account? <a href="{{path('app_signup')}}">Sign up</a></p>
                        <p><a href="{{path('home_page')}}">Back home</a></p>
                    </div>
                </form>
                <h3>Login with social media</h3>
                <ul class="sci">
                    <li><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"></li>
                    <li><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"></li>
                    <li><img src="https://img.icons8.com/bubbles/100/000000/behance.png"></li>
                </ul>
            </div>
        </div>
    </section>
</body>
{% endblock %}
{% block footer %} {% endblock %}