{% extends "base.html.twig" %}

{% block body %}
<head>
    
    {# <meta http-equiv="X-UA-Compatible" content="IE=edge"> #}
    <!-- font awesome cdn link  -->
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}

    <!-- custom css file link  -->
    <link rel="stylesheet" href="product.css">
    
    <!-- custom js file link  -->
    <script src="product.js" defer></script>
</head>

<section id="hero">
<body>
    <div class="search">
    <form action="" method="get" class="search-bar" >
        <input type="text" class="" placeholder="Search" name="q">
        <button type="summit"><i class="bi bi-search"></i></button>
    </form>
  </div>
<div class="container-product">

   <h3 class="title"> New PRODUCTS </h3>

   <div class="products-container">

      <div class="product" data-name="p-1">
         <img src="./Image/Balencia-black.jpg" alt="">
         <h3>Balencia Black</h3>
         <div class="price">{{ 2000000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      </div>

      <div class="product" data-name="p-2">
         <img src="./Image/Converse-red.jpg" alt="">
         <h3>Converse Red</h3>
         <div class="price">{{ 15000000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      </div>

      <div class="product" data-name="p-3">
         <img src="./Image/Nike-air-jodan.jpg" alt="">
         <h3>Nike Air Jodan</h3>
         <div class="price">{{ 2500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      </div>

      <div class="product" data-name="p-4">
         <img src="./Image/Nike-Air-1.jpg" alt="">
         <h3>Nike Air Force 1</h3>
         <div class="price">{{ 2500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      </div>

      <div class="product" data-name="p-5">
         <img src="./Image/Vans-white.jpg" alt="">
         <h3>Vans white</h3>
         <div class="price">{{ 3000000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      </div>

      <div class="product" data-name="p-6">
         <img src="./Image/Vans-caro.jpg" alt="">
         <h3>Vans caro</h3>
         <div class="price">{{ 4500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      </div>

   </div>

</div>

<div class="products-preview">

   <div class="preview" data-target="p-1">
      <i class="fas fa-times"></i>
      <img src="./Image/Balencia-black.jpg" alt="">
      <h3>Balencia Black</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
      <div class="price">{{ 2000000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-2">
      <i class="fas fa-times"></i>
      <img src="./Image/Converse-red.jpg" alt="">
      <h3>Nike Air Jodan</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
      <div class="price">{{ 1500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-3">
      <i class="fas fa-times"></i>
      <img src="./Image/Nike-air-jodan.jpg" alt="">
      <h3>Nike Air Jodan</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
      <div class="price">{{ 2500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-4">
      <i class="fas fa-times"></i>
      <img src="./Image/Nike-Air-1.jpg" alt="">
      <h3>Nike Air Force 1</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
      <div class="price">{{ 2500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-5">
      <i class="fas fa-times"></i>
      <img src="./Image/Vans-white.jpg" alt="">
      <h3>Vans white</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
      <div class="price">{{ 3000000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-6">
      <i class="fas fa-times"></i>
      <img src="./Image/Vans-caro.jpg">
         <h3>Vans caro</h3>"
         <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
      <div class="price">{{ 4500000|number_format(0, '.', ',') }}<span> &#8363;</span></div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

</div>
</section>
</body>
{% endblock %}

