{% extends "base.html.twig" %}

{% block title %}{% endblock %}


{% block body %}
<style>
    .cover{
        margin-top: 240px;
    }
    .container-fluid{
        color: #fb5533;
    }
</style>
<body>
    <div class="cover">
        <div class="container-fluid" style="width: 500px">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</body> 
{% endblock %}

