* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.search {
    position: relative;
    float: right;
    width: 100%;
    margin-top: 3px;
    /* background: red; */
    z-index: 1;
}

.search-bar {
    position: relative;
    max-width: 100%;
    height: 40px;
    /* max-width: 700px; */
    display: flex;
    background: transparent;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    bottom: 2px;
    line-height: 0px;
    margin: 0px;
    margin-right: 55px;
    margin-left: 55px;
    border: 1px solid black;
}

.search-bar input {
    /* position: absolute; */
    background: transparent;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

::placeholder {
    color: #e86c00;
}

.search-bar button {
    position: absolute;
    border: 0;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    z-index: 0;
}

@media only screen and (min-width: 1216px) {
    .search {
        /* top: 50px; */
    }
}