{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{# <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head> #}
{% block body %}
{# <style>
    body{
        background: url('./Image/Background-shoe-shop.jpg');    
    }
    table{
        background-color: white;
        margin-top: 50px;
    }
</style> #}

<body>
    <section id="hero">
        <div class="container-fluid">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Product ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in order %}
                        <tr>
                            <td>{{o.ID}}</td>
                            <td>{{o.Quantity}}</td>
                            <td>{{o.OrderID}}</td>
                            <td>{{o.ProID}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </section>
</body>
{% endblock %}