{% extends 'base.html.twig' %}

{# {% block body %}
{# <style>
    body{
        background: url('../Image/Background-shoe-shop.jpg');
    }
    .cover{
        width: 500px;
        margin-left: 520px;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 2px 2px 17px 10px rgba(255, 255, 255, 0.8);
        margin-top: 100px;
    }
    form{
        color: white;
    }
</style> #}
<body>
    <div class="cover">
        <div class="container-fluid" style="width: 500px">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</body>
{% endblock %}
