{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    img{
        width: 300px;
        height: 300px;
        margin-top: 10px;
    }
    .row{
        margin-left: 112px;
    }
    h4{
        margin-left: 17px;
    }
    .form-search{
        display: flex;
    }
    .form-group{
        width: 250px;
        margin-left: 124px;
    }
    .btn{
        height: 35px;
    }
</style>
<form action="" method="post" class="form-search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
    </div>
    <button type="submit" class="btn btn-default" name="btn-search"><i class="bi bi-search"></i></button>
</form>
<div class="row">
    <h4>All Products</h4>
    {% for p in product_form %}
        <div class="col-md-4" style="width: 303px"> 
            <div>
                <img src="./Image/{{p.Image}}"/>

                <div>
                    <a href="{{path ('detail_page', {'id' : p.id})}}"><h3>{{p.Name}}</h3></a>
                    <h5><span>&#8363;</span>{{p.Price}}</h5>
                    <a href="#" class="text-decoration-none"><button class="btn btn-primary">Like <i class="bi bi-suit-heart"></button></i></a>
                    <a href="#"><button class="btn btn-primary">Add to cart <i class="bi bi-cart4"></i></button></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
