{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>
    <div>
        {{ form_start(register_form) }}
            {{ form(register_form) }}
        {{ form_end(register_form) }}
    
    </div>

{% endblock %}
