 {% extends 'base.html.twig' %}
 {% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<section id="hero">
<div class="">
<p>Hello</p>
<p>Hello</p>aaaaaaaaaaaaaaaaaaa</div>
    <p>Hello</p>
        <p>Hello</p>
            <p>Hello</p>
                <p>Hello</p>
                    <p>Hello</p>
                        <p>Hello</p>
                            <p>Hello</p>
</section>
{% endblock %}